{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static "css/home.css" %}}">
</head>
<body>

    <div class="first-ctn">
        <div class="left-content">
            <div class="slogan">Learn To Control Your Money</div>
            <a href="{% url 'user_signup' %}" class="logo-href">
                <div class="signup"><button class="signup-button">Sign Up for free</button></div>
            </a>
            <div class="txt-1">Sign Up to exprience these features</div>
        </div>
        <div class="img1">
            <img src="{%static "img/content1-home.png" %}" width="750px" height="500px" alt="">
        </div>
        
        
    </div>
    <div class="qoute1">
        <div class="qouteimage"><img src="{% static "img/quote.png" %}"></div>
    </div>       
    <!--<div class="qoute">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.58 (1).jpeg" alt="" class="pic">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.58 (2).jpeg" alt="" class="pic">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.58 (3).jpeg" alt="" class="pic">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.59 (1).jpeg" alt="" class="pic">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.59 (2).jpeg" alt="" class="pic">
    </div>-->
    <div class="feature1">
        <div class="img2">
            <img src="{%static "img/content2-home.png" %}" width="800px" height="500px" alt="">
        </div>
        <div class="qoute2">
            <div class="head-1">Learn to track your expenses</div>
            <div class="qoute2-1">All your transaction in one place</div>
            
            <div class="qoute2-2">An expense tracking  is designed to specifically monitor recurring bills, transactions, invoices, and checks, ensuring effective management of repetitive expenditures.</div>
            <div class="track-btn">
                <a href="{% url 'user_signup' %}" class="logo-href">
                    <button class="track">Tracker</button>
                </a>
            </div>
        </div>
        
    </div>
</body>
{% endblock %}