*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: greycliff-light;
    src: url(./font/FONTSPRINGDEMO-GreycliffCFLightRegular.woff);
}
@font-face {
    font-family: greycliff-italic;
    src: url(./font/FONTSPRINGDEMO-GreycliffCFLightItalic.woff);
}
@font-face {
    font-family: greycliff-medium;
    src: url(./font/FONTSPRINGDEMO-GreycliffCFMediumRegular.woff);
}
@font-face {
    font-family: greycliff-heavy;
    src: url(./font/FONTSPRINGDEMO-GreycliffCFHeavyRegular.woff);
}
@font-face {
    font-family: linotte;
    src: url(./font/Linotte-SemiBold.woff);
}
@font-face {
    font-family: audery;
    src: url(./font/Audrey-MediumOblique.woff);
}
.l{
    font-family: audery;
    font-size: 36px;
}

a.logo-href{
    text-decoration: none;
    color: #fff;
}

.navbar{
    font-family: linotte;
    display: flex;
    justify-content: space-around;
    background: #1774d0d6;
    color: white;
    padding: 20px 150px;
    align-items: center;
}
.elements{
    font-size: 18px;
}
.logo{
    font-size: 28px;
}
.lgin{
    display: flex;
    align-content: center;
    font-size: 18px;
    padding: 10px 18px;
    border: 2px solid white;
    border-radius: 10px;
}
.lgin:hover{
    cursor: pointer;
    background: white;
    border: #1774D0 2px solid;
    border-radius: 10px;
    color: #1774D0;
}


.first-ctn{
    background: linear-gradient(88deg, rgba(219, 236, 253, 1) 0%, rgba(151, 203, 255, 1) 100%, rgba(238, 130, 238, 1) 100%);
    height: 80vh;
    display: flex;
    
}

.left-content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.slogan{

    text-align: center;
    width: 60%;
    font-family: greycliff-heavy;
    color: #1774D0;
    font-size: 60px;
}
.signup-button{
    border: none;
    color: #fff;
    margin: 30px 0;
    padding: 20px 70px;
    border-radius: 10px;
    background-color: #1774D0;
    font-size: 25px;
    font-family: greycliff-medium;
}

.signup-button:hover{
    cursor: pointer;
    font-weight: 900;
    background: white;
    border: #1774D0;
    border-radius: 10px;
    color: #1774D0;
}

.txt-1{
    font-size: 18px;
    font-family: greycliff-medium;
    opacity: .7;
    padding-left: 2%;
}

.img1{
    display: flex;
    align-items: center;
    width: 45%;
    height: 70vh;
    aspect-ratio: auto;
}

.qoute1{
    display: flex;
    font-family: greycliff-medium;
    justify-content: center;
}
/*.qoute {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .qoute {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
  }
  
  .qoute > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }*/
.feature1{
    display: flex;
    background: linear-gradient(88deg, rgba(219, 236, 253, 1) 0%, rgba(151, 203, 255, 1) 100%, rgba(238, 130, 238, 1) 100%);
    padding: 60px 0px 30px 30px;

}
.head-1{
    font-family: greycliff-heavy;
    color: #1774D0;
    font-size: 42px;
}
.qoute2{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qoute2-1{
    color: #796f6f;
    font-family: greycliff-heavy;
    font-size: 32px;
    padding-block: 15px 10px;
}
.qoute2-2{
    text-align: center;
    width: 60%;
    padding: 0 10%;
    font-size: 18px;
    font-family: greycliff-medium;
    opacity: .6;
}
.track-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 80%;
    
}
.track{
    border: none;
    margin: 30px 0px 30px 0px;
    color: #fff;
    padding: 10px 60px;
    border-radius: 10px;
    background-color: #1774D0;
    font-size: 20px;
    font-family: greycliff-medium;
}
.track:hover{
    cursor: pointer;
    font-weight: 900;
    background: white;
    border: #1774D0;
    border-radius: 10px;
    color: #1774D0;
}
