{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static "css/home.css" %}}">
</head>
<body>

    <div class="first-ctn">
        <div class="left-content">
            <div class="slogan">Learn To Control Your Money</div>
            <div class="txt-1">Sign Up to exprience these features</div>
        </div>
        <div class="img1">
            <img src="{%static "img/content1-home.png" %}" width="750px" height="500px" alt="">
        </div>
        
        
    </div>
    <div class="qoute1">
        <div class="qouteimage"><img src="{% static "img/quote.png" %}"></div>
    </div>       
    <!--<div class="qoute">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.58 (1).jpeg" alt="" class="pic">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.58 (2).jpeg" alt="" class="pic">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.58 (3).jpeg" alt="" class="pic">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.59 (1).jpeg" alt="" class="pic">
        <img src="./img/WhatsApp Image 2023-12-13 at 18.02.59 (2).jpeg" alt="" class="pic">
    </div>-->
    <div class="feature1">
        <div class="img2">
            <img src="{%static "img/content2-home.png" %}" width="800px" height="500px" alt="">
        </div>
        <div class="qoute2">
            <div class="head-1">Learn to track your expenses</div>
            <div class="qoute2-1">All your transaction in one place</div>
            
            <div class="qoute2-2">An expense tracking  is designed to specifically monitor recurring bills, transactions, invoices, and checks, ensuring effective management of repetitive expenditures.</div>
            <div class="track-btn">
                <a href="{% url 'transaction_list' %}" class="logo-href">
                    <button class="track">Tracker</button>
                </a>
            </div>
        </div>
        
    </div>
    <div class="askQuery">
       
        <h1>Do not let your doubts waste your wealth.</h1>
        <p>Ask your queries or give feedback.</p>
        <form action="">
            <input type="text" placeholder="Ask Query Here" name="customerQuery" class="customerQuery">
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>

    <footer>
        <div class="footer-left">
            <div class="footer-company-name">
                <h2 class="word">X</h2>
                <h2>pense</h2>
            </div>
            <p class="footer-subtitle">Track your Expenses.</p>
            <p class="footer-subtitle">Build a Strong Finance.</p>
            <p class="footer-copyright">&copy; 2023 Xpense All right reserved</p>
        </div>
        <div class="footer-right">
            <div class="fr-col">
                <h3>Company</h3>
                <div class="col">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">9182562623</a></li>
                </div>
            </div>
            <div class="fr-col2">
                <h3>Features</h3>
                <div class="col">
                    <li><a href="">#Budget Tracking</a></li>
                    <li><a href="">#Visualization</a></li>
                    <li><a href="">#Timely Reporting</a></li>
                </div>
            </div>
            <div class="fr-col3">
                <h3>Social</h3>
                <div class="col">
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Facebook</a></li>
                </div>
            </div>
        </div>
    </footer>
</body>
{% endblock %}