{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/loginAuth/loginAuth.css' %}">
</head>
<body>
    <div class="container">
        <div class="inner-container">
            <div class="inner-container-login">
                <h2>Login</h2>
                {% if error_invalid %}
                    <p class="error">Error: Invalid username or password</p>
                {% endif %}
            <form method="post" action="{% url 'user_login' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <button type="submit">Login</button>
            </form>
                <p>Don't have an account yet? <a href="{% url 'user_signup' %}">Signup</a></p>
            </div>
            <div class="inner-container-login-image">
                <img src="{% static "img/login_img.png" %}" width="550px" height="480px" alt="">
            </div>
        </div>
    </div>
</body>
</html>

