{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/loginAuth/signupAuth.css' %}">
</head>
<body>
    <div class="container">
        <div class="inner-container">
            <div class="inner-container-signup-image">
                <img src="{% static 'img/signup_img.png' %}" width="600px" height="500px" alt="">
            </div>
            <div class="inner-container-signup">
                <h2>Signup</h2>
                {% if errors %}
                    <p class="error">
                        {% if errors.existing_user %}Username {{ errors.username }} already exists.{% endif %}
                        {% if errors.errors_password %}Passwords do not match.{% endif %}
                        {% if errors.error_pass_validation %}
                            {% for message in errors.error_pass_validation %}
                                {{ message }},
                            {% endfor %}
                        {% endif %}
                    </p>
                {% endif %}
                <form method="post" action="{% url 'user_signup' %}">
                    {% csrf_token %}
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>
                    <label for="cpassword">Confirm Password:</label>
                    <input type="password" name="cpassword" required>
                    <button type="submit">Signup</button>
                </form>
                <p>Already have an account? <a href="{% url 'user_login' %}">Login</a></p>
            </div>
        </div>
    </div>
</body>
</html>