*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: greycliff-light;
    src: url(./font/FONTSPRINGDEMO-GreycliffCFLightRegular.woff);
}
@font-face {
    font-family: greycliff-italic;
    src: url(./font/FONTSPRINGDEMO-GreycliffCFLightItalic.woff);
}
@font-face {
    font-family: greycliff-medium;
    src: url(./font/FONTSPRINGDEMO-GreycliffCFMediumRegular.woff);
}
@font-face {
    font-family: greycliff-heavy;
    src: url(./font/FONTSPRINGDEMO-GreycliffCFHeavyRegular.woff);
}
@font-face {
    font-family: linotte;
    src: url(./font/Linotte-SemiBold.woff);
}
@font-face {
    font-family: audery;
    src: url(./font/Audrey-MediumOblique.woff);
}
.l{
    font-family: audery;
    font-size: 36px;
}
.navbar{
    font-family: linotte;
    display: flex;
    justify-content: space-around;
    background: #1774d0d6;
    color: white;
    padding: 20px 150px;
    align-items: center;
}
.elements{
    font-size: 18px;
}
.logo{
    font-size: 28px;
}

.signin{
    display: flex;
    align-content: center;
    font-size: 18px;
    padding: 10px 18px;
    border: 2px solid white;
    border-radius: 10px;
}

.introduction-content{
    background: linear-gradient(88deg, rgba(219, 236, 253, 1) 0%, rgba(151, 203, 255, 1) 100%, rgba(238, 130, 238, 1) 100%);
    height:65vh;
    display: flex;
    text-align: center;
}

.left-content{
    display: flex;
    flex-direction: column;
    padding: 5%  0.1% 5% 13% ;
    width: 40%;

}

.introduction-heading{
    width:100%;
    max-width: 85%;
    font-family: greycliff-heavy;

    font-size: 45px; 
    color: #1774D0;
   
}

.introduction{
    padding-block: 4%;
    width:100%;
    max-width: 80%;
     font-size: 30px;
     font-size: 18px;
     font-family: greycliff-medium;
     opacity: .7;
 
}

.login{
    font-family: greycliff-light;
    border:none;
    background-color: #1774D0;
    padding: 20px 40px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
     
}

.login:hover{
    cursor: pointer;
    background: white;
    border: #1774D0 2px solid;
    border-radius: 10px;
    color: #1774D0;    
}

.introduction-2{
    padding-block: 2%;
    width:100%;
    max-width: 80%;
     font-size: 30px;
     font-size: 18px;
     font-family: greycliff-medium;
     opacity: .7;
}

.working-1{
    background: linear-gradient(88deg, rgb(255, 255, 255) 0%, rgb(221, 221, 222) 100%, rgba(238, 130, 238, 1) 100%);
    height:65vh;
    display: flex;
    text-align: center;
}

.right-content{
    display: flex;
    flex-direction: column;
    padding: 8.8%  0.1% 5% 13% ;
    width: 100%;
    max-width: 50%;
    height: 100%;
    max-height: 50%;

}

.working1-heading{
    width:100%;
    max-width: 85%;
    font-family: greycliff-heavy;

    font-size: 45px; 
    color: #1774D0;
}

.working1-description{
    padding-block: 4%;
    width:100%;
    max-width: 80%;
     font-size: 30px;
     font-size: 18px;
     font-family: greycliff-medium;
     opacity: .7;
}

.working1-image{
padding-block:0.5%
}

.working-2{
        background: linear-gradient(88deg, rgba(219, 236, 253, 1) 0%, rgba(151, 203, 255, 1) 100%, rgba(238, 130, 238, 1) 100%);
        height:65vh;
        display: flex;
    text-align: center;
}

.working2-heading{
    width:100%;
    max-width: 85%;
    font-family: greycliff-heavy;

    font-size: 45px; 
    color: #1774D0;
}

.working2-description{
    padding-block: 4%;
    width:100%;
    max-width: 80%;
     font-size: 30px;
     font-size: 18px;
     font-family: greycliff-medium;
     opacity: .7;
}