{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static "css/howitworks.css" %}">
</head>
<body>

<div class="introduction-content">
    <div class="left-content">
        <div class="introduction-heading">What Is Xpense? How Does It Work?</div>
        <div class="introduction">Xpense is a comprehensive app that meticulously assesses your budgets, expenses, and balances, providing you with a detailed financial report — all in one powerful application. </div>
  </div>
    <div class="introduction-image">
        <img src="{% static "img/introduction-image.png" %}" width="650px" height="450px" alt="">
    </div>
</div>
  
<div class="working-1">
    <div class="working1-image">
        <img src="{% static "img/working-1.png" %}" width="740px" height="450px" alt="">
     </div>
    <div class="right-content">
      <div class="working1-heading">Smoothly track cash flow with ease</div>
      <div class="working1-description">An expenditure monitoring solution is intricately designed to oversee recurring bills, transactions, invoices, and checks, ensuring adept handling of repetitive costs.</div>
    </div>
    </div>

<div class="working-2">
    <div class="left-content">
    <div class="working2-heading">Dynamic Financial Visualization</div>
   

        <div class="working2-description">Aids in creation of detailed and interactive graphs and charts that visually represent complex financial data.</div>
        <div class="login-button">
            <a href="{%  url 'transaction_list' %}">
            <button class="login">Start Tracking</button>
            </a>
        </div>
    </div>
    <div class="working2-image">
        <img src="{% static "img/working-2.png" %}" width="800px" height="450px" alt="">
    </div>
</div>
</div>
<div class="askQuery">
       
    <h1>Do not let your doubts waste your wealth.</h1>
    <p>Ask your queries or give feedback.</p>
    <form action="">
        <input type="text" placeholder="Ask Query Here" name="customerQuery" class="customerQuery">
        <input type="submit" value="Submit" class="submit">
    </form>
</div>

<footer>
    <div class="footer-left">
        <div class="footer-company-name">
            <h2 class="word">X</h2>
            <h2>pense</h2>
        </div>
        <p class="footer-subtitle">Track your Expenses.</p>
        <p class="footer-subtitle">Build a Strong Finance.</p>
        <p class="footer-copyright">&copy; 2023 Xpense All right reserved</p>
    </div>
    <div class="footer-right">
        <div class="fr-col">
            <h3>Company</h3>
            <div class="col">
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">9182562623</a></li>
            </div>
        </div>
        <div class="fr-col2">
            <h3>Features</h3>
            <div class="col">
                <li><a href="">#Budget Tracking</a></li>
                <li><a href="">#Visualization</a></li>
                <li><a href="">#Timely Reporting</a></li>
            </div>
        </div>
        <div class="fr-col3">
            <h3>Social</h3>
            <div class="col">
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Facebook</a></li>
            </div>
        </div>
    </div>
</footer>
</body>
{% endblock %}