{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/transaction_list.css' %}">
</head>
  <h2> Income : {{ i.income }} </h2>
  <div>
    <a href="">Edit</a>
    <a href="">Update</a>
  </div>

  <h2>Transaction History</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.name }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.category }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'plot_expense_graph' %}">Add Expense</a>
{% endblock %}
