{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/transaction_list.css' %}" >
</head> 
<h2>Transaction History</h2>
<div class="container">
  <div class="table">
    <div class="row-header">
      <div class="cell">Name</div>
      <div class="cell">Amount</div>
      <div class="cell">Category</div>
      <div class="cell">Actions</div>
    </div>
    {% for transaction in transactions %}
    <div class="row">
      <div class="cell">{{ transaction.name }}</div>
      <div class="cell">{{ transaction.amount }}</div>
      <div class="cell">{{ transaction.category }}</div>
      <div class="cell">
        <a href="{% url 'edit_transaction' transaction.id %}">Edit</a>
        <a href="{% url 'delete_transaction' transaction.id %}">Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="add-transaction-btn">
  <a href="{% url 'add_transaction' %}">Add Transaction</a>
</div>

{% endblock %}
